---
import type { HeroBlock } from "@utils/payload/types";
import Container from "@components/Container.astro";
import s from "./style.module.css";

import CustomImage from "@components/CustomImage.astro";
interface Props extends HeroBlock {}
const { heading, excerpt, cover } = Astro.props;
---

<header class={s['alternate_horizontal_hero']}>
    <Container>
        <div class={s["alternate_horizontal_hero__wrapper"]}>
            <article class={s["alternate_horizontal_hero__content"]}>
                <h1>{heading}</h1>
                <p>{excerpt}</p>
            </article>

            <div class={s["alternate_horizontal_hero__image_wrapper"]}>
                <CustomImage
                    image={cover}
                    size="large"
                    classlist={s["alternate_horizontal_hero__image"]}
                    eager={true}
                />
            </div>
        </div>
    </Container>
</header>
