.floating_footer {
    color: var(--clr-neutral-50);
    /* padding: var(--size-4) 0; */
    /* padding-top: 0; */
    background-color: var(--clr-neutral-50);
}
.floating_footer__content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: var(--size-4);
    
    padding: var(--size-4) var(--size-6);
}

.floating_footer__logo-image {
    width: 50px;
    height: 50px;
    max-height: 100%;
}
.floating_footer__logo {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: var(--size-2);

    color: currentColor;
    text-decoration: none;
    
}
@media (min-width: 768px) {
    .floating_footer__content {
        padding: var(--size-4) var(--size-8);
    }
}